@media screen and (min-width: 500px) {
    .navigation {
        display: flex;
    }
    .navigation ul {
        flex-direction: row;
    }
    #menu {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    #temples-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    nav ul {
        display: flex;
    }
}
